/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
    /* background-image: url(http://ubpm.proceedit.com/images/process/parallax_02.jpg); */
    background-image: "./images/fondo_registro.jpg";
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
