/****RESET***/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

#tabla {
    font-family: Lato, sans-serif;
    border-collapse: collapse;
	margin: auto;
}

td, th {
    border: 0px solid #ddd;
	text-align: left;
	font-size:12px;
    border-radius: 0px; 
}

/****PRELOADER****/
.preloader-background {
    z-index: 999;
    background: #222f3db8;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.preloader-wrapper.big.active {
    position: absolute;
    top: 40%;
    left: 50%;
}

h3.preloader-msg {
    position: absolute;
    color: white;
    font-weight: 300;
    top: 50%;
    left: 40%;
}

.active {
    z-index: 999;
}

.spinner-blue-only {
    border-color: #00ffd1;
}

/********LABELS*****/
th.sorting{
	color:white;
}
th.sorting:hover{
    color:#00ffd1;
}
th.sorting_asc{
    color:#00ffd1;
}
th.sorting_desc{
    color:#00ffd1;
}
input[type="text"]{
    color:white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}
body {
    margin: 0;
	background-image: url(https://billibfinance.com/wp-content/uploads/2017/09/fondo_registro.jpg);
	font-family: 'Lato', sans-serif !important;
}
/****TABLE ROW SELECTIONS*****/
table.dataTable tbody tr.selected {
    background-color: #cae1f9;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #cae1f9;
}
table.dataTable.display tbody tr:hover.selected>.sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{
    background-color: #cae1f9;
}
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
    background-color: #cae1f9;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected{
    background-color: #cae1f9;  
}
table.dataTable.display tbody tr.even.selected>.sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{
    background-color: #cae1f9;  
}
table.dataTable.display tbody tr.odd.selected>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{
    background-color: #cae1f9; 
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1{
    background-color: #f1f1f1;
}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: #cae1f9;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: 1px solid #eee;
}
#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(59,69,91);
    color: white;
}
ul {
	float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#border { 
	margin-left: 200px;
    padding: 0;
    overflow: hidden;
	height: 100%;
}
#borderCell{
    padding-left: 20px;
    border-left: 2px solid #00ffd1;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(0, 255, 209);
}
#espacio {
	padding: 50px;
	text-align: center;
	}
#BillibHeader {
    height: 70px;
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0;
    width: 100%;
    vertical-align: middle;
    padding-left: 75px;
    background: #2f4255;
    background-image: url(https://billibfinance.com/wp-content/uploads/2017/06/logo_billib.png);
    background-position: 1% 50%;
    background-repeat: no-repeat;
    background-size: 120px;
}
#BillibFooter {
    height: 17px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8fe01+0,00ffd1+100 */
	background: rgb(216,254,1); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(216,254,1,1) 0%, rgba(0,255,209,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(216,254,1,1) 0%,rgba(0,255,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(216,254,1,1) 0%,rgba(0,255,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8fe01', endColorstr='#00ffd1',GradientType=1 ); /* IE6-9 */
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100%;
	align-items: middle;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
/****ACTIONS STYLE BUTTONS*******/
i.material-icons{
	color: #2f4255;
    font-size: 17px;
}
table.dataTable thead th{
    padding: 10px 7px;
}

i.material-icons:hover{
	color: #00ffd1;
}
/*clicked {
    background: black;
}*/
/*button.dt-button.btn.btn-filtros,button.dt-button.btn.btn-rangos,button.dt-button.btn.btn-parciales,button.dt-button.btn.btn-totales{
    background: #1d7d74;
}*/
li a, .collapsible.collapsible-accordion li a {
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-size: 1.1rem;
    padding: 15px 0px;
    margin: 3px auto;
    text-decoration: none !important;
    font-weight: 600;
}

li:last-child {
    border-bottom: none;
}
li a:focus {
    /* outline: none; */
}
li a:hover:not(.active) {
    background-color: #00FFD14a;
    color: white;
    border-radius: 3px;
    /* min-width: max-content; */
    text-align: center;
    box-shadow: 0px 1px 4px rgb(33, 33, 33);
    margin: 3px auto;
}

div.dataTables_wrapper {
	position:relative;
	left: 100px;
	top: 0;
    }
h2 {
    height: 100%;
    border-bottom: 2px solid #00ffd1;
    padding: 15px 60px 0px 60px;
    font-size: 3.3rem;
    margin: 0 auto;
    width: max-content;
    font-weight: 300;
    color: white;
    text-shadow: 3px 3px 6px #000;
    position: relative;
}
/**********MATERIAL BUTTON************/
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
}
input[type=text]:not(.browser-default) {
    font-size: 1rem;
}
button.dt-button:visited {
    background-color: black;
}
.dt-buttons {
    height: 0px;
}
.btn {
    position: relative;
    right: 4vw;
    font-size: 12px;
    height: 30px;
    border-color: transparent !important;
    text-transform: capitalize;
    padding: 6px 5px;
    background-color: #00f1c5;
    color: #2f4255;
    border: none;
    font-weight: 600;
    margin: 0px 1px;
}
.pulse::before{
    animation: pulse-animation 3s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 15px;
}
button.dt-button.btn.pulse {
    margin-left: 1vw !important;
}   
table.dataTable tbody td{
    padding: 3px 7px !important;
}
.display.dataTable.no-footer th{
	color:white;
}
label{
    margin-bottom: 0px;
	color: white;
	font-size: 15px;
}
input[type=search], option, select{
	color: #2f4255;
}
.dataTables_wrapper .dataTables_info {
    color: white;
}
#MainTable_filter{
	padding-right:5px;
}

.dataTables_filter input{
	
	width: 250px;
    background-color: white !important;
	height: 2.5rem !important;
    font-size: 1.5rem !important;

}
/****** NEW ****/
.row {
    margin-bottom: 0px;
}
.col-lg-11 {
    padding-top: 75px;
}

/******* MENU *******/

.menu {
    position: relative;
    top: 10vh;
    border-top: 3px solid #00ffd1;
    border-bottom: 3px solid #00ffd1;
    background-color: #2f4255db;
    text-transform: uppercase;
    height: max-content;
    padding: 40px 0px;
    box-shadow: 2px 0px 14px #101010;
}
.menu i{
    color:white;
}
.menu .collapsible-body, .menu .collapsible, .menu .collapsible-header{
    border:none;
    padding:none;
    margin: none;
    background: none;
    
}
/*****INNER TABLE******/
select {
    background-color: rgba(255,255,255,0.9);
    width: 33%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 0px;
    height: 2.7rem;
}
.dataTables_length label, .dataTables_length select{
	display: inline-flex;
    margin: -1px 8px;
    padding: 0px;
}

.tables-container div {
    position: relative!important;
    left: 0!important;
}
.dataTables_scrollBody {
    height: 66vh;
	border-bottom: 0px solid #111 !important;	
}
/******FILTERS**********/
input[type=text]:not(.browser-default) {
    background-color: #ffffff38;
    /* color: #2f4255; */
    border: none;
    border-bottom: 1px solid #00a98a;
    border-radius: 3px;
    outline: none;
    height: 1.5rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 3px 0;
    padding: 0px 3px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.columnSearcher input[type=text]:not(.browser-default):focus:not([readonly]):focus {
    margin-top: 4px;
    }
input[type=text]:not(.browser-default):focus:not([readonly]):focus {
    color: #2f4255;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border: 1px solid #26a69a;
    background-color: white;
    position: relative;
    z-index: 2;
}

/*********MEDIA QUERIES************/
@media (min-width:2000px){
	.menu{
	   padding-top: 10vh;
	}
	td{
        font-size:18px;
	}
	th{
        font-size:20px;
	}
	.dataTables_filter input{
        width: 250px !important;
    }
	.menu li a{
        font-size: 20px;
	}
}
@media (max-width:1920px){
    .dataTables_filter input{
        width: 250px !important;
    }
	
}
@media (max-width:1600px){
    .dataTables_scrollBody {
        height: 60vh;
    }   
    .dataTables_filter input{
        width: 220px !important;
    }	
}
@media (max-width:1440px){
    .dataTables_scrollBody {
        height: 53vh;
    }   
}
@media (max-width:1366px){
	.dataTables_wrapper .dataTables_scrollBody {
        height: 55vh;
	}
    .dataTables_filter input{
        width: 250px !important;
    }
	
}
@media (max-height:700px){
    .dataTables_wrapper .dataTables_scrollBody {
        height: 55vh;
    }
    .dataTables_filter input{
        width: 250px !important;
    }
}

@media (max-width:1300px){
    .dataTables_filter input{
        width: 240px !important;
    }
}
@media (max-width:1024px){
	.btn i{
		font-size:16px;
	}
    .dataTables_filter input{
        width: 200px !important;
    }
	
}
@media (max-width:800px){
    .col-lg-11 {
        padding-top: 6%;
    }
	.btn i{
		font-size:17px;
	}
}
@media screen and (max-height: 750px){
    .menu{
        padding: 0px;
    }
}

/*TABLE BUTTONS*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white!important;
}
.paginate_button.next, .paginate_button.previous{
	background-color: #00ffd1a1;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: #00f1c5 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	background: #00f1c5 !important;
	font-weight: 700;
}
i.material-icons.right {
    margin-left: 5px;
}
/****BOTTOM SEARCH****/
table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 2px 18px 0px 17px;
    border-top: none;
}
/***PARTIALS N TOTALS*****/
td.totals, td.partials {
    color: white;
    font-size: 11px;
}
div.dataTables_wrapper {  
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 0px 14px #101010;
    background-color: #2f4255a1;
    width: 89vw;
    height: max-content;
    text-align: center;
}