body{
	background-image: url(https://billibfinance.com/wp-content/uploads/2017/09/fondo_registro.jpg);
	font-family: 'Lato', sans-serif !important;
}
h2{
	height: 100%;
    border-bottom: 2px solid #00ffd1;
    padding: 15px 60px 0px 60px;
    font-size: 2.3rem;
    margin: 0 auto;
    width: max-content;
    font-weight: 300;
    color: white;
    text-shadow: 3px 3px 6px #000;
    position: relative;
	
}
/*******SMALLER DISTANCE TABS FIRST ROW*******/
.row .col {
    top: -5vh;
}

.input-field label {
	color:d0d0d0;
	padding-left: 5px;
}
div.Form {
    width: 50%;
	margin-top: 2% !important;
	border-radius: 5px;
    box-shadow: 0px 5px 20px 3px #000000a6;
    background-color: #2f4255a3;
    padding-top: 50;
    padding-bottom: 50;
    padding-left: 20;
    padding-right: 20;
}
}
.card .card-content { padding: 20px 20px; text-align: center; }

.card { 
	margin-top: 20%; 
	left: 45%;
}

/*@media only screen and (min-width: 601px){
.row .col.m6 { width: auto; }}*/

.column {
    float: left;
    width: 50%;
    padding: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
  	clear: both;
}
form{
	 width:800px;
	 margin:0 auto;
}
.tabs{
	background-color: transparent;
}
.row{
	margin-bottom:0px;
}
.row.col{
    padding: 5px .75rem;
	min-height:10px;
}
.tabs .tab a:hover, .tabs .tab a.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8fe01+0,00ffd1+100&0.8+0,0.8+100 */
	background: -moz-linear-gradient(left, rgba(216,254,1,0.8) 0%, rgba(0,255,209,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(216,254,1,0.8) 0%,rgba(0,255,209,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(216,254,1,0.8) 0%,rgba(0,255,209,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd8fe01', endColorstr='#cc00ffd1',GradientType=1 ); /* IE6-9 */
	color: #2f4255;
}
.tabs .tab a{
	background-color: #3bc7aec2!important;
    color: #f5f5f5;
}
fieldset{
	border:none;
}
.btn{
    text-transform: capitalize;
    background-color: #00ffd1;
    color: #2f4255;
    border: none;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 2%;
    text-transform: none;
}
.pulse::before{
    animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}
a {
    color: #2f4255;
}
b{
	background: linear-gradient(to right, #d9ff00 0%, #00ffd0 80%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
input[type=text]:not(.browser-default){
	background-color: #ffffff42;
    border: none;
    border: 0px solid #9e9e9e;
    border-radius: 4px;
	margin: 5px 0px;
	color: white;
	height: 2.5rem;
	padding-left: 5px;
}
#BillibHeader {
    box-shadow: 0px 2px 7px 0px #000000a6;
	height: 70px;
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0;
    width: 100%;
    vertical-align: middle;
    padding-left: 15px;
    background: #2f4255;
    background-image: url(https://billibfinance.com/wp-content/uploads/2017/06/logo_billib.png);
    background-position: 1% 50%;
    background-repeat: no-repeat;
    background-size: 100px;
	
}
.tabs .indicator {
	background-color:white;
}
.select-wrapper span.caret { 
	font-size: 18px;
    color: #00ffd1a1; 
}

#BillibFooter {
    height: 17px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8fe01+0,00ffd1+100 */
	background: rgb(216,254,1); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(216,254,1,1) 0%, rgba(0,255,209,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(216,254,1,1) 0%,rgba(0,255,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(216,254,1,1) 0%,rgba(0,255,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8fe01', endColorstr='#00ffd1',GradientType=1 ); /* IE6-9 */
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100%;
	align-items: middle;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
